<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="duke"
          class="com.springinaction.springidol.Juggler">
            <constructor-arg value="15" />
    </bean>

    <bean id="poeticDuke"
          class="com.springinaction.springidol.PoeticJuggler">
            <constructor-arg value="15" />
            <constructor-arg>
                <bean class="com.springinaction.springidol.Sonnet29" />
            </constructor-arg>
    </bean>

    <bean id="theStage"
          class="com.springinaction.springidol.Stage"
          factory-method ="getInstance" />

    <bean id="ticket"
          class="com.springinaction.springidol.Ticket"
          scope="prototype" />

    <bean id="auditorium"
          class="com.springinaction.springidol.Auditorium"
          init-method="turnOnLights"
          destroy-method="turnOffLights"/>

    <bean id="baseSaxophonist"
          class="com.springinaction.springidol.Instrumentalist"
          abstract="true">
        <property name="instrument" ref="saxophone" />
        <property name="song" value="Jingle Bells" />
    </bean>

    <bean id="kenny" parent="baseSaxophonist" />
    <bean id="david" parent="baseSaxophonist" />

    <bean id="onemanband"
          class="com.springinaction.springidol.OneManBand" >

        <property name="instruments">
            <map>
                <entry key="Saxophone" value-ref="saxophone"/>
                <entry key="Piano" value-ref="piano"/>
                <entry key="Harmonica" value-ref="harmonica"/>
            </map>
        </property>

        <property name="song" value=" #{kenny.song?.toUpperCase()} "/>
    </bean>

    <bean id="saxophone"
        class="com.springinaction.springidol.Saxophone"/>

    <bean id="piano"
          class="com.springinaction.springidol.Piano"/>

    <bean id="harmonica"
          class="com.springinaction.springidol.Harmonica"/>

</beans>